#version: '{build}'

#environment:
#  pdftexify_cp1251:
#    texify --pdf --tex-option="--tcx=CP1251" --tex-option="--enable-write18" --tex-option="--shell-escape" --tex-option="--interaction=nonstopmode" --batch

cache:
  - c:\miktex -> .\miktex-install.bat

install:
  - set "PATH=%PATH%;c:\miktex\miktex\bin"
  - if not exist c:\miktex\miktex\bin\pdflatex.exe .\miktex-install.bat

#build_script:
#  - '%pdftexify_cp1251% report.tex'

#artifacts:
#  - path: 'report.pdf'
